%site_grid {
    display: grid;
    grid-template-columns: 20px repeat(12, minmax(0, 1fr)) 20px;
    grid-gap: 1rem;

    >*:not(.col-start) {
        grid-column: 2 / -2;
    }

    >.content-width {
        grid-column: 2 / -2;
    }

    >.full-width {
        grid-column: 1 / -1;
    }
}

.site-width {
    @extend %site_grid;
}

.site-width-rows {
    grid-template-rows: 100px 1fr;
}

.grid-cols-13 {
    grid-template-columns: repeat(13, minmax(0, 1fr));
}

.grid-cols-14 {
    grid-template-columns: repeat(14, minmax(0, 1fr));
}