.site_grid {
    display: grid;
    grid-template-columns: 20px repeat(12, minmax(0, 1fr)) 20px;
    grid-gap: 1rem;

    >.full-width {
        grid-column: 1 / -1;
    }
}

.content-width {
    grid-column: 2 / -2;
}

.site-width {
    grid-column: 1 /-1;
    // grid-template-rows: max-content 1fr;
}

.new-project-container {
    position: absolute;

    grid-template-rows: max-content 1fr;
    justify-self: center;
    align-self: center;
}

.new-project-form {
    display: grid;
    height: max-content;
    column-gap: 15px;


}

.max-content-rows {
    grid-auto-rows: max-content;
}


.grid-cols-13 {
    grid-template-columns: repeat(13, minmax(0, 1fr));
}

.col-span-13 {
    grid-column: span 13 / span 13;
}

.col-start-13 {
    grid-column-start: 13;
}

.grid-cols-14 {
    grid-template-columns: repeat(14, minmax(0, 1fr));
}

.col-start-14 {
    grid-column-start: 14;
}



.col-span-14 {
    grid-column: span 14 / span 14;
}

.col-end {
    grid-column-end: -1;
}